.html {
    background-color: #b4b4b4;
}


.dropbtn {
    background-color: #4CAF50;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
    min-width: 160px;
    
}
.dropdown-content a {
    color: #32CD32;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #5F9EA0;
}

<<<<<<< HEAD
input [type="text"] {
    background-color: #ff0000;
    color: #ff0000;
}
=======
h2 {
    text-align: center;
    margin-right: 70px;
    color: #ff4411;
    font-size: 32px;
    font-family: 'Signika', sans-serif;
    padding-bottom: 10px;
}

.whatever {
   text-align: center;
   padding: 16px;
   margin-top: 60px;
}

.signup {
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    font-size: 28px;
    font-family: 'Signika', sans-serif;
    color: #ff4411;

}

input[text], input[password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

>>>>>>> 14f50e8363fa405342c3ec0877aebd51fb3b4869
