/*this file will be removed then i am done with it*/
html {
	background-color: blue;
}
.testing1 {
	text-align: center;
}
.randomText {
	color: red;
	text-align: right;
}
.randomText2 {
	color: red;
	text-align: center;
}
.randomText3 {
	color: red;
	text-align: left;
}